**/vendor/
**/app/config/config.php
**/public/css/
**/public/js/
**/public/images/
**/public/img/
/nbproject/private/
**/.idea/*
privkey.pem
pubkey.pub
main.css
**/logs/
**/app/logs/
**/public/logs.txt
**/public/js/*
**/public/webtools.php
**/public/webtools.config.php
/app/config/router_backup_files/
recommend/*
